In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("titles.csv")
df.head(20)

,title,type,description,release_year,age_certification,runtime,genres,production_countries,imdb_score,tmdb_score
0,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],NaN,NaN
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],8.1,7.782
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],7.2,7.406
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],8.3,8.020
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],7.3,7.246
5,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'comedy']",['GB'],8.2,7.804
6,Animal House,MOVIE,"At a 1962 College, Dean Vernon Wormer is deter...",1978,R,109,['comedy'],['US'],7.4,7.020
7,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],8.8,8.258
8,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],8.0,7.762
9,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,120,"['comedy', 'music', 'romance']",['US'],7.5,7.200
10,Heroes,MOVIE,A Vietnam veteran suffering from post traumati...,1977,PG,112,"['drama', 'comedy', 'romance']",['US'],6.0,6.500
11,Play Misty for Me,MOVIE,A brief fling between a male disc jockey and a...,1971,R,102,"['drama', 'thriller']",['US'],6.9,6.612
12,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,NaN,77,"['drama', 'comedy', 'crime']",['EG'],7.5,7.400
13,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"['comedy', 'documentation']",['US'],8.1,7.432
14,Bandie,MOVIE,Maharaj Brajbhan lives a wealthy lifestyle in ...,1978,NaN,141,"['drama', 'romance', 'action']",['IN'],4.8,6.000
15,Prince,MOVIE,"To better himself, a spoiled prince temporaril...",1969,NaN,152,['romance'],['IN'],6.8,7.000
16,FTA,MOVIE,A documentary about a political troupe headed ...,1972,R,97,"['comedy', 'documentation', 'music']",['US'],6.4,6.100
17,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,['comedy'],['GB'],8.1,7.000
18,Hitler: A Career,MOVIE,A keen chronicle of the unlikely rise to power...,1977,PG,150,"['documentation', 'history', 'european']",['DE'],7.5,7.400
19,Amrapali,MOVIE,"After a failed conquest, Emperor Ajaatshatru p...",1966,NaN,120,['fantasy'],['IN'],6.7,6.300

In [18]:
mask = df['type'] == 'SHOW'
df = df[~mask]

In [16]:
df.head(20)

,title,type,description,release_year,age_certification,runtime,genres,production_countries,imdb_score,tmdb_score
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],8.1,7.782
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],7.2,7.406
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],8.3,8.020
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],7.3,7.246
5,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'comedy']",['GB'],8.2,7.804
6,Animal House,MOVIE,"At a 1962 College, Dean Vernon Wormer is deter...",1978,R,109,['comedy'],['US'],7.4,7.020
8,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],8.0,7.762
9,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,120,"['comedy', 'music', 'romance']",['US'],7.5,7.200
10,Heroes,MOVIE,A Vietnam veteran suffering from post traumati...,1977,PG,112,"['drama', 'comedy', 'romance']",['US'],6.0,6.500
11,Play Misty for Me,MOVIE,A brief fling between a male disc jockey and a...,1971,R,102,"['drama', 'thriller']",['US'],6.9,6.612
12,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,NaN,77,"['drama', 'comedy', 'crime']",['EG'],7.5,7.400
13,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"['comedy', 'documentation']",['US'],8.1,7.432
14,Bandie,MOVIE,Maharaj Brajbhan lives a wealthy lifestyle in ...,1978,NaN,141,"['drama', 'romance', 'action']",['IN'],4.8,6.000
15,Prince,MOVIE,"To better himself, a spoiled prince temporaril...",1969,NaN,152,['romance'],['IN'],6.8,7.000
16,FTA,MOVIE,A documentary about a political troupe headed ...,1972,R,97,"['comedy', 'documentation', 'music']",['US'],6.4,6.100
18,Hitler: A Career,MOVIE,A keen chronicle of the unlikely rise to power...,1977,PG,150,"['documentation', 'history', 'european']",['DE'],7.5,7.400
19,Amrapali,MOVIE,"After a failed conquest, Emperor Ajaatshatru p...",1966,NaN,120,['fantasy'],['IN'],6.7,6.300
20,Alibaba Aur 40 Chor,MOVIE,The movie is based on the story of Ali Baba an...,1980,NaN,138,"['drama', 'action', 'romance', 'fantasy', 'fam...","['IN', 'SU']",6.2,6.800
21,Manoranjan,MOVIE,Havaldar Ratan is a rookie at the local police...,1974,NaN,162,"['romance', 'comedy', 'drama']",['IN'],6.5,5.300
22,Professor,MOVIE,Sita devi is a very strict aunt for a number o...,1962,NaN,163,"['drama', 'comedy', 'romance']",['IN'],6.9,5.800

In [22]:
regex = r'[^\x00-\x7F]+'
mask = df['title'].str.contains(regex)

df = df[~mask]

In [24]:
df

,title,type,description,release_year,age_certification,runtime,genres,production_countries,imdb_score,tmdb_score
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],8.1,7.782
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],7.2,7.406
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],8.3,8.020
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],7.3,7.246
5,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'comedy']",['GB'],8.2,7.804
...,...,...,...,...,...,...,...,...,...,...
6131,Do Your Worst,MOVIE,Regret and redemption take center stage as Son...,2023,NaN,91,"['drama', 'romance', 'comedy']",['ZA'],NaN,NaN
6133,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],7.9,7.200
6134,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],6.1,NaN
6135,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],5.2,4.000
6136,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],7.0,NaN

In [26]:
df.to_csv("titles_cleaned.csv", index=False)